:root {
  --dark-olive-green-2: #586546;
  --crimson: #d71e60;
  --ivory: #f8f9e6;
  --white: white;
  --pale-violet-red-2: #ef6a9a;
  --dark-olive-green: #677652;
  --dim-grey: #454545;
  --crimson-2: #c5074b;
  --khaki: #f9f193;
  --pale-violet-red: #f089af;
  --dark-slate-grey: #3a4440;
  --black-2: #2c2c2c;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #454545;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1 {
  color: var(--dark-olive-green-2);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5em;
}

h2 {
  color: var(--dark-olive-green-2);
  letter-spacing: .02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 1.2em;
}

h3 {
  color: var(--crimson);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4em;
}

p {
  text-align: justify;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.section-hero {
  height: 100vh;
  max-height: 1300px;
  position: relative;
}

.container {
  max-width: 1380px;
  padding-left: 30px;
  padding-right: 30px;
}

.container.container-expand {
  max-width: 1250px;
}

.container.container-no-padding {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.container.container-hero {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.background-ivory {
  background-color: var(--ivory);
}

.grid-hero {
  grid-column-gap: 0rem;
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
  height: 100%;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.navbar {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 0;
  padding-bottom: 10px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container-inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-link {
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-left: 40px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.7em;
  transition: all .35s;
}

.nav-link:hover {
  color: var(--pale-violet-red-2);
}

.nav-link.w--current {
  color: var(--pale-violet-red-2);
  font-weight: 600;
}

.nav-menu {
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.no-overflow {
  overflow: hidden;
}

.wrap-media-hero {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-cover.top {
  transition: all .35s;
}

.image-cover.top:hover {
  opacity: 0;
}

.divider-wrap {
  color: var(--dark-olive-green);
  white-space: nowrap;
  align-items: center;
  width: 100vw;
  font-family: Almarai, sans-serif;
  font-weight: 700;
  display: flex;
  overflow: hidden;
}

.divider-inner-wrap {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  grid-template-rows: auto;
  grid-template-columns: min-content 20px min-content 20px min-content 20px;
  grid-auto-columns: 1fr;
  padding-left: 12vw;
  padding-right: 12vw;
  display: grid;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.grid-shop {
  grid-row-gap: 1rem;
  flex: 1;
  grid-template-columns: 1fr;
  position: relative;
}

.shop-wrap {
  grid-column-gap: 5rem;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.shop-right-wrap {
  z-index: 1;
  margin-top: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
}

.grid-shop-inner-top {
  grid-column-gap: 1rem;
  grid-template-rows: auto;
  align-items: start;
}

.media-cover {
  color: var(--dim-grey);
  border-radius: 10px;
  width: 100%;
  padding-top: 140%;
  position: relative;
  overflow: hidden;
}

.media-cover._1 {
  padding-top: 120%;
}

.media-cover._2 {
  padding-top: 150%;
}

.grid-shop-inner-bottom {
  grid-column-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-flower-rotates {
  z-index: -1;
  position: absolute;
  top: -260%;
  left: -33%;
  right: auto;
}

.grid-process {
  grid-column-gap: 2.5rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: minmax(300px, .65fr) 1fr;
  align-items: start;
}

.grid-process-inner {
  grid-row-gap: 14rem;
  grid-template-columns: 1fr;
  padding-top: 10rem;
}

.process-card-front {
  z-index: 1;
  background-color: var(--ivory);
  color: var(--crimson-2);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 30px;
  font-size: 16px;
  line-height: 1.3em;
  position: relative;
}

.process-left-wrap {
  color: var(--dark-olive-green-2);
  cursor: default;
  padding-left: 40px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 170px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.grid-rethink-top {
  grid-column-gap: 1rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr .75fr;
  align-items: start;
}

.media-cover-square {
  border-radius: 8px;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.media-cover-rethink {
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
  padding-top: 80%;
  position: relative;
  overflow: hidden;
}

.rethink-inner {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.grid-rethink {
  z-index: 1;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--white);
  grid-template-columns: 1fr;
  font-size: 16px;
  line-height: 1.4rem;
  position: relative;
}

.rethink-subbrand {
  grid-column-gap: 1rem;
  text-align: justify;
  align-items: flex-end;
  min-width: 313px;
  max-width: 58%;
  display: flex;
}

.grid-rethink-bottom {
  grid-template-rows: auto;
}

.grid-custom-design {
  grid-column-gap: 2.5rem;
  flex: 1;
  grid-template-rows: auto;
  align-items: center;
}

.section-footer {
  padding-top: 70px;
  padding-bottom: 50px;
}

.grid-footer {
  grid-column-gap: 5vw;
  grid-template-rows: auto;
}

.link-footer {
  color: var(--pale-violet-red-2);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .35s;
}

.link-footer:hover {
  color: var(--crimson-2);
}

.footer-inner-wrap {
  grid-row-gap: 1.8rem;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20%;
  display: flex;
}

.footer-links-wrap {
  justify-content: space-between;
  display: flex;
}

.background-yellow {
  background-color: var(--khaki);
}

.footer-bottom-wrap {
  color: var(--crimson-2);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.header {
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.section-medium {
  padding-top: 100px;
  padding-bottom: 100px;
}

.link-social {
  color: var(--pale-violet-red-2);
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: all .35s;
}

.link-social:hover {
  color: var(--crimson-2);
}

.fa {
  font-family: Fa brands, sans-serif;
}

.fa-alt {
  font-family: Fa, sans-serif;
}

.nav-background {
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0));
  height: 120%;
  position: absolute;
  top: 30px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logo-pink {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logo-pink.logo-pink-alt {
  position: relative;
}

.nav-link-alt {
  color: var(--dark-olive-green-2);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-left: 40px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.7em;
  transition: all .35s;
}

.nav-link-alt:hover {
  color: var(--pale-violet-red-2);
}

.nav-link-alt.w--current {
  color: var(--pale-violet-red-2);
  font-weight: 600;
}

.section-hero-std {
  padding-top: 250px;
  padding-bottom: 150px;
  position: relative;
}

.shop-tabs {
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tabs-menu-shop {
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
}

.tab-link-shop {
  color: var(--dark-olive-green);
  background-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.tab-link-shop.w--current {
  color: var(--pale-violet-red);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}

.tab-link-shop.current {
  color: var(--pale-violet-red);
  font-weight: 600;
}

.tab-content-shop {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 1.5rem;
}

.shop-product-wrap {
  grid-row-gap: .5rem;
  color: var(--dark-olive-green-2);
  flex-direction: column;
  font-size: 12px;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
}

.shop-product-wrap.test {
  width: 40%;
}

.contact-wrap {
  width: 60%;
  min-width: 545px;
  margin-left: auto;
  margin-right: auto;
}

.background-tint {
  background-color: #fff6fa;
}

.heading-large {
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1.1em;
}

.text-dark-green {
  color: var(--dark-slate-grey);
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.text-field {
  border: 1px solid var(--dark-slate-grey);
  border-radius: 8px;
  min-height: 45px;
  margin-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.text-field::placeholder {
  color: var(--crimson);
  font-style: italic;
}

.form {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-area {
  border: 1px solid var(--dark-slate-grey);
  border-radius: 8px;
  min-height: 100px;
  margin-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.text-area::placeholder {
  color: var(--crimson);
  font-style: italic;
}

.about-hero-section {
  text-align: center;
  width: 70%;
  max-width: 798px;
  margin-left: auto;
  margin-right: auto;
}

.section-hero-about {
  padding-top: 200px;
  padding-bottom: 50px;
}

.grid-brand {
  grid-column-gap: 2.5rem;
  flex: 1;
  grid-template-rows: auto;
  align-items: center;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.hero-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-hero {
  max-height: 74px;
  margin-left: auto;
  margin-right: auto;
}

.h2 {
  letter-spacing: .02em;
  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 1.2em;
}

.text-block-2 {
  color: #393939;
  display: inline-block;
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.justify-centre {
  justify-content: center;
}

.section-our-process {
  background-color: var(--ivory);
  padding-top: 150px;
  padding-bottom: 250px;
}

.flower-process {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: -30px;
  right: auto;
}

.paragraph-process {
  font-weight: 500;
  position: relative;
  left: -30px;
}

.process-card-back {
  color: var(--crimson-2);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.3em;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.process-card-wrap {
  cursor: pointer;
  width: 90%;
  max-width: 490px;
  position: relative;
}

.process-card-wrap.offset {
  right: -10%;
}

.process-card-wrap.offset.slide {
  cursor: pointer;
}

.media-cover-subbrand {
  border-radius: 8px;
  width: 100%;
  padding-top: 70%;
  position: relative;
  overflow: hidden;
}

.section-rethink {
  background-color: var(--dark-olive-green-2);
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: Almarai, sans-serif;
  position: relative;
}

.image-rethink-main {
  width: 50%;
  height: 50vw;
  position: absolute;
  top: auto;
  bottom: 130px;
  left: auto;
  right: -24%;
}

.rethink-text {
  color: #393939;
  font-size: 24px;
  font-weight: 700;
}

.product-text {
  white-space: nowrap;
  background-color: rgba(255, 249, 250, .68);
  align-items: center;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  font-family: Almarai, sans-serif;
  font-size: 14px;
  line-height: 1.1em;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.product-text-inner {
  grid-column-gap: 4rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding-right: 4rem;
  display: grid;
}

.rethink-text-wrap {
  justify-content: center;
  max-width: 200px;
  margin-bottom: 10px;
  font-family: Almarai, sans-serif;
  display: flex;
}

.brand {
  padding-left: 0;
}

.overlay {
  z-index: 9999;
  background-color: rgba(0, 0, 0, .2);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay.show {
  display: flex;
}

.card-email {
  background-color: var(--white);
  color: var(--dark-olive-green-2);
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  width: 310px;
  padding: 30px 20px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4em;
  position: relative;
  overflow: hidden;
}

.form-2 {
  grid-column-gap: 10px;
  display: flex;
}

.text-field-discount {
  border: 1px solid var(--pale-violet-red-2);
  border-radius: 10px;
  min-height: 40px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
}

.text-field-discount::placeholder {
  color: var(--dark-olive-green-2);
  font-size: 12px;
}

.submit-button-popup {
  background-color: var(--dark-slate-grey);
  border-radius: 10px;
  height: 40px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1em;
}

.form-block {
  margin-bottom: 0;
}

.exit {
  cursor: pointer;
  background-color: #d9d9d9;
  background-image: url('../images/Vector-5.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 7px 7px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.media-cover-discount {
  border-radius: 8px;
  width: 100%;
  padding-top: 110%;
  position: relative;
  overflow: hidden;
}

.flower-discount {
  height: 287px;
  position: absolute;
  top: auto;
  bottom: -10%;
  left: auto;
  right: -20%;
}

.card-email-inner {
  z-index: 1;
  position: relative;
}

.section-contact {
  padding-top: 50px;
  padding-bottom: 150px;
}

.contact-welcome {
  color: var(--pale-violet-red-2);
  text-align: center;
  justify-content: center;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
  display: flex;
}

.button-inner {
  z-index: 1;
  grid-column-gap: .5rem;
  padding: 9px 25px;
  font-weight: 300;
  line-height: 1.3em;
  display: flex;
  position: relative;
}

.button-primary-wrap {
  border: 1px solid var(--black-2);
  background-color: var(--white);
  color: var(--black-2);
  border-radius: 50px;
  text-decoration: none;
  transition: all .35s;
  position: relative;
  overflow: hidden;
}

.button-primary-wrap:hover {
  border: 1px solid var(--pale-violet-red-2);
  color: var(--white);
}

.rethink-large-image {
  padding-top: 35px;
  padding-bottom: 35px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.rethink-small-wrap {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(217, 217, 217, .8);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 13vw;
  padding: 20px;
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  top: 45%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.link-block-h2 {
  color: var(--dark-olive-green-2);
  text-decoration: none;
  transition: all .35s;
}

.link-block-h2:hover {
  color: var(--pale-violet-red-2);
}

.rethink-small-image {
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 35px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.image-rethink-small {
  max-height: 100px;
}

.navbar-annoucement {
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--crimson);
  text-align: center;
  background-color: rgba(248, 249, 230, .8);
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 1.4em;
  position: relative;
}

.pos-relative {
  position: relative;
}

.flower-embed-green {
  z-index: -1;
  color: #bad662;
  width: 455px;
  height: 455px;
  position: absolute;
  top: -32%;
  bottom: auto;
  left: -10%;
  right: auto;
}

.flower-embed-green-small {
  z-index: -1;
  color: #bad662;
  width: 230px;
  height: 230px;
  position: absolute;
  top: auto;
  bottom: 1%;
  left: auto;
  right: -12%;
}

.background-wrap {
  z-index: -1;
  width: 100vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.flower-embed-shop {
  z-index: -1;
  color: #94b91d;
  width: 230px;
  height: 230px;
  position: absolute;
  top: auto;
  bottom: 3%;
  left: -4%;
  right: auto;
}

.flower-embed-shop-1 {
  z-index: -1;
  color: #bad662;
  width: 430px;
  height: 430px;
  position: absolute;
  top: 7%;
  bottom: auto;
  left: auto;
  right: -8%;
}

.flower-embed-shop-2 {
  z-index: -1;
  color: var(--pale-violet-red-2);
  width: 230px;
  height: 230px;
  position: absolute;
  top: auto;
  bottom: 30%;
  left: 12%;
  right: auto;
}

.flower-embed-shop-3 {
  z-index: -1;
  color: var(--pale-violet-red-2);
  width: 430px;
  height: 430px;
  position: absolute;
  top: auto;
  bottom: 3%;
  left: 40%;
  right: auto;
}

.to-top-wrap {
  color: var(--dark-olive-green-2);
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 130px;
  padding-top: 6%;
  padding-left: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4em;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 25%;
  left: 0%;
  right: auto;
}

.to-top-wrap:hover {
  color: var(--pale-violet-red-2);
}

.to-top-wrap.w--current {
  transition: all .35s;
}

.arrow-shop {
  display: inline-block;
  transform: translate(0, -40px)rotate(-90deg);
}

.media-cover-custom {
  border-radius: 8px;
  width: 100%;
  padding-top: 105%;
  position: relative;
  overflow: hidden;
}

.text-pink {
  color: var(--pale-violet-red-2);
}

.nav-background-home {
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0));
  opacity: 0;
  height: 120%;
  position: absolute;
  top: 30px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.media-cover-about {
  border-radius: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40%;
  position: relative;
  overflow: hidden;
}

.paragraph-custom-limit {
  max-width: 496px;
}

.button-flower-white {
  color: var(--white);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale(0);
}

.button-rethink-wrap {
  border: 1px solid var(--dark-slate-grey);
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border-radius: 50px;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  transition: all .35s;
  position: relative;
  overflow: hidden;
}

.button-rethink-wrap:hover {
  border: 1px solid var(--dark-slate-grey);
  background-color: var(--white);
  color: var(--dark-slate-grey);
}

.button-flower {
  color: var(--pale-violet-red-2);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale(0);
}

.button-secondary-wrap {
  border: 1px solid var(--pale-violet-red-2);
  background-color: var(--pale-violet-red-2);
  color: var(--white);
  border-radius: 50px;
  text-decoration: none;
  transition: all .35s;
  position: relative;
  overflow: hidden;
}

.button-secondary-wrap:hover {
  border: 1px solid var(--black-2);
  color: var(--black-2);
}

.nav-background-home-tablet {
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0));
  opacity: 0;
  height: 120%;
  display: none;
  position: absolute;
  top: 30px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-submit {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 25px;
  font-weight: 300;
  line-height: 1.3em;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.submit-wrap {
  position: relative;
}

.text-submit {
  opacity: 0;
}

.button-submit-wrap {
  border: 1px solid var(--pale-violet-red-2);
  background-color: var(--pale-violet-red-2);
  color: var(--white);
  border-radius: 50px;
  text-decoration: none;
  transition: all .35s;
  position: relative;
  overflow: hidden;
}

.button-submit-wrap:hover {
  border: 1px solid var(--black-2);
  color: var(--black-2);
}

.thank-you-wrap {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-width: 545px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.grid-privacy-policy {
  grid-column-gap: 3rem;
  color: var(--dark-olive-green-2);
  grid-template-rows: auto;
  grid-template-columns: minmax(320px, .5fr) 1fr;
}

.grid-privacy-policy-wrap {
  grid-row-gap: 2.5em;
  grid-template-columns: 1fr;
}

.section-legal {
  padding-top: 180px;
  padding-bottom: 150px;
}

.rich-text-legal strong {
  font-weight: 600;
}

.rich-text-legal p {
  margin-bottom: 20px;
}

.rich-text-legal a {
  color: var(--crimson);
}

.grid-faq {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr .5fr;
  position: relative;
}

.link-faq {
  color: var(--dark-slate-grey);
  padding: 3px 10px;
  font-weight: 500;
  text-decoration: none;
  transition: all .35s;
}

.link-faq:hover {
  color: var(--pale-violet-red-2);
}

.link-faq.w--current {
  color: var(--pale-violet-red-2);
  font-weight: 600;
}

.faq-left {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 246, 250, .5);
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 180px;
}

.grid-faq-inner {
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.dropdown-faq {
  border: 1px solid var(--pale-violet-red-2);
  background-color: var(--white);
  color: var(--dark-slate-grey);
  border-radius: 10px;
  width: 100%;
  display: block;
}

.dropdown-toggle-faq {
  color: var(--dark-slate-grey);
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

.dropdown-list-faq {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px 20px;
  position: relative;
}

.faq-wrap {
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
}

.h3 {
  font-family: Almarai, sans-serif;
  font-size: 30px;
}

.margin-bottom-100px {
  margin-bottom: 100px;
}

.navbar-alt {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 0;
  padding-bottom: 10px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-background-tablet {
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0));
  opacity: 0;
  height: 120%;
  display: none;
  position: absolute;
  top: 30px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-green {
  color: var(--dark-olive-green-2);
}

.padding-bottom-0px {
  padding-bottom: 0;
}

.text-sub-popup {
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  line-height: 1.5em;
}

.media-cover-brand, .media-cover-founder {
  border-radius: 10px;
  width: 100%;
  padding-top: 110%;
  position: relative;
  overflow: hidden;
}

.divider-wrap-test {
  color: var(--dark-olive-green);
  white-space: nowrap;
  align-items: center;
  width: 100vw;
  font-family: Almarai, sans-serif;
  font-weight: 700;
  display: flex;
  overflow: hidden;
}

.media-cover-shop {
  border-radius: 10px;
  width: 100%;
  padding-top: 140%;
  position: relative;
  overflow: hidden;
}

.media-cover-shop.product-large {
  padding-top: 154%;
}

.media-cover-shop.product-small {
  padding-top: 140%;
}

.bag-cart {
  max-width: 110px;
  max-height: 65px;
  margin-bottom: 0;
}

.text-block-4 {
  color: var(--dim-grey);
}

.tab-pane {
  min-height: 700px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.click-more {
  display: none;
}

.loading {
  z-index: 2147000001;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.loading.show {
  display: flex;
}

.image-loading {
  width: 15vw;
  min-width: 150px;
  min-height: 150px;
}

.loading-wrap {
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.out-of-stock {
  background-color: var(--pale-violet-red);
  opacity: .8;
  color: var(--black);
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.all {
  padding-bottom: 30px;
}

.coming-soon {
  color: var(--dark-slate-grey);
  background-color: rgba(255, 255, 255, .54);
  justify-content: center;
  align-items: center;
  font-size: 25px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-2 {
  background-image: url('../images/favicon.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transform: rotate(360deg);
}

.text-block-5 {
  font-family: Fa, sans-serif;
}

.cart-wrap {
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 40px;
  display: flex;
  position: relative;
}

.cart-1 {
  width: 15px;
  position: absolute;
}

.cart-2 {
  opacity: 0;
  width: 15px;
  position: absolute;
}

.logo-loading {
  background-image: url('../images/loading-logo.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  width: 16vw;
  min-width: 160px;
  height: 16vw;
  min-height: 160px;
  display: flex;
}

.loading-flower {
  width: 8vw;
  min-width: 100px;
  min-height: 100px;
  position: relative;
  bottom: 5px;
}

.h1 {
  letter-spacing: .02em;
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 700;
  line-height: 1.2em;
}

.header-legal {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.popup-archive {
  z-index: 999;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-archive.exit-archive2 {
  z-index: 9999;
  background-color: rgba(0, 0, 0, .5);
  background-image: none;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  font-family: Poppins, sans-serif;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-archive.exit-archive2.show, .popup-archive.show {
  display: flex;
}

.archive-card {
  background-color: var(--white);
  border-radius: 10px;
  width: 80%;
  max-height: 90vh;
  padding: 50px 45px 50px 44px;
  position: relative;
  overflow: scroll;
}

.archive-grid {
  grid-column-gap: 30px;
  grid-template-rows: auto;
  font-size: 16px;
  line-height: 1.5em;
}

.archive-slider {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}

.popup-head {
  color: var(--dark-olive-green-2);
  margin-top: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
}

.exit-archive2 {
  background-color: var(--dark-olive-green);
  cursor: pointer;
  background-image: url('../images/Vector-5.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 7px 7px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-family: Fa, sans-serif;
  position: absolute;
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.shop-archive-wrap {
  grid-row-gap: .5rem;
  color: var(--dark-olive-green-2);
  cursor: pointer;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
}

.shop-archive-wrap.test {
  width: 40%;
}

.shop-archive-wrap.singlist.hide {
  display: none;
}

.popup-head-2 {
  color: #586546;
  margin-top: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
}

.mask {
  border-radius: 10px;
}

.hidden {
  display: none;
}

.div-block-3 {
  display: block;
}

.pagination--div {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-direction: row;
  display: flex;
  position: absolute;
  bottom: -20px;
}

.pagination--div.hidden {
  display: none;
}

.page-btn {
  background-color: var(--pale-violet-red);
  border-radius: 6px;
  width: auto;
}

.tab-pane-archive {
  padding-bottom: 20px;
  position: static;
}

.tabs-content-archive {
  position: static;
  overflow: visible;
}

.archive-tabs {
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: static;
}

.out-of-stock-2 {
  opacity: .8;
  color: #000;
  background-color: #f089af;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.tab-content-archive {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 1.5rem;
}

.media-cover-archive {
  border-radius: 10px;
  width: 100%;
  padding-top: 130%;
  position: relative;
  overflow: hidden;
}

.media-cover-archive.product-large {
  padding-top: 154%;
}

.media-cover-archive.product-small {
  padding-top: 140%;
}

.loading-shop {
  z-index: 2147000001;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.loading-shop.show {
  display: flex;
}

.new-shop-content {
  min-height: 70vh;
  padding-bottom: 30px;
}

.empty-list {
  text-align: center;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: none;
}

.archive-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  font-size: 16px;
  line-height: 1.5em;
}

.marquee-wrapper {
  width: 100%;
  height: 19em;
  position: relative;
  overflow: hidden;
}

.marquee-track {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee-list {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.marquee-item {
  width: 19em;
  height: 19em;
  position: relative;
}

@media screen and (min-width: 1440px) {
  h2 {
    font-size: 45px;
  }

  .grid-shop {
    flex: none;
  }

  .shop-right-wrap {
    margin-top: 100px;
  }

  .media-cover._1 {
    width: 443px;
    padding-top: 518px;
  }

  .media-cover._2 {
    width: 290px;
    padding-top: 417px;
  }

  .image-flower-rotates {
    width: 418px;
    max-width: none;
    height: 433px;
    margin-top: -100px;
    top: -180%;
    bottom: auto;
    left: -17%;
  }

  .grid-process-inner {
    justify-items: center;
  }

  .grid-rethink-top {
    grid-template-columns: min-content 1fr;
  }

  .media-cover-square {
    width: 705px;
    padding-top: 670px;
  }

  .media-cover-rethink {
    width: 216px;
    max-width: none;
    padding-top: 324px;
  }

  .rethink-subbrand {
    min-width: 450px;
    max-width: 54.5%;
  }

  .grid-rethink-bottom {
    grid-template-columns: min-content 1fr;
  }

  .grid-custom-design {
    grid-column-gap: 3.2rem;
  }

  .heading-large {
    font-size: 80px;
  }

  .h2 {
    font-size: 45px;
  }

  .media-cover-subbrand {
    width: 470px;
    padding-top: 324px;
  }

  .image-rethink-main {
    height: 645px;
  }

  .product-text {
    grid-column-gap: 5.5rem;
  }

  .image-rethink-small {
    max-height: 110px;
  }

  .media-cover-custom {
    width: 480px;
    padding-top: 512px;
  }

  .media-cover-about {
    width: 688px;
    padding-top: 300px;
  }

  .grid-privacy-policy {
    grid-column-gap: 5rem;
  }

  .grid-faq {
    grid-template-columns: .4fr 1fr .4fr;
  }

  .media-cover-brand {
    width: 435px;
    padding-top: 490px;
  }

  .media-cover-founder {
    width: 447px;
    padding-top: 568px;
  }

  .h1 {
    font-size: 45px;
  }

  .popup-archive.exit-archive2 {
    display: none;
  }

  .archive-card {
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    color: var(--pale-violet-red-2);
    text-align: center;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-menu {
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .grid-shop {
    grid-row-gap: .5rem;
  }

  .grid-shop-inner-top, .grid-shop-inner-bottom {
    grid-column-gap: .5rem;
  }

  .rethink-subbrand {
    min-width: 287px;
  }

  .section-footer {
    padding-top: 40px;
  }

  .nav-background {
    background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, .8) 60%, rgba(255, 255, 255, 0));
    opacity: 0;
    height: 100vh;
    display: none;
    position: fixed;
  }

  .nav-link-alt {
    text-align: center;
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .tab-content-shop {
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    flex-wrap: wrap;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    justify-items: stretch;
    display: grid;
  }

  .shop-product-wrap {
    grid-column-gap: 16px;
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    width: auto;
    display: grid;
  }

  .heading-large {
    font-size: 7vw;
  }

  .grid-brand {
    grid-column-gap: 2rem;
  }

  .menu-button {
    color: var(--crimson-2);
  }

  .menu-button.w--open {
    color: var(--crimson-2);
    background-color: rgba(0, 0, 0, 0);
  }

  .rethink-small-wrap {
    padding: 15px;
  }

  .to-top-wrap.w--current {
    height: 180px;
  }

  .nav-background-home {
    background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, .8) 60%, rgba(255, 255, 255, 0));
    height: 100vh;
    position: fixed;
  }

  .nav-background-home-tablet {
    background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0));
    height: 100%;
    display: block;
  }

  .grid-privacy-policy {
    grid-template-columns: minmax(250px, .5fr) 1fr;
  }

  .grid-faq {
    grid-column-gap: 2rem;
    grid-template-columns: minmax(180px, .5fr) 1fr;
  }

  .nav-background-tablet {
    background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, .8) 60%, rgba(255, 255, 255, 0));
    height: 120%;
    display: block;
  }

  .media-cover-shop.product-large {
    padding-top: 140%;
  }

  .bag-cart {
    text-align: center;
  }

  .cart-wrap {
    width: auto;
    margin-left: 0;
  }

  .cart-1 {
    display: none;
  }

  .loading-flower {
    min-width: 90px;
    min-height: 90px;
  }

  .h1 {
    font-size: 45px;
  }

  .archive-card {
    width: 90%;
  }

  .shop-archive-wrap {
    grid-column-gap: 16px;
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    width: auto;
    display: grid;
  }

  .tab-content-archive {
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    flex-wrap: wrap;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    justify-items: stretch;
    display: grid;
  }

  .media-cover-archive.product-large {
    padding-top: 140%;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }

  .grid-hero {
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
  }

  .navbar {
    padding-bottom: 10px;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .shop-wrap {
    grid-row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
  }

  .shop-right-wrap {
    order: -1;
  }

  .shop-right-wrap.slide {
    position: relative;
    top: auto;
  }

  .image-flower-rotates {
    display: none;
  }

  .grid-process {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .grid-process-inner {
    grid-row-gap: 5rem;
    justify-items: center;
    display: none;
  }

  .process-left-wrap {
    cursor: pointer;
    padding-left: 0;
    position: relative;
    top: auto;
  }

  .grid-rethink-top {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .media-cover-rethink {
    max-width: none;
  }

  .rethink-inner {
    grid-row-gap: 3rem;
  }

  .grid-rethink {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .rethink-subbrand {
    min-width: 0;
    max-width: none;
  }

  .grid-custom-design {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .grid-footer {
    grid-column-gap: 2vw;
    grid-row-gap: 2rem;
    order: -1;
    grid-template-columns: 1fr;
  }

  .footer-inner-wrap {
    grid-row-gap: .5rem;
    align-items: center;
  }

  .footer-links-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 2rem;
    text-align: center;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    justify-items: center;
    display: grid;
  }

  .header {
    width: 90%;
  }

  .logo-pink {
    max-height: 55px;
  }

  .section-hero-std {
    padding-top: 200px;
  }

  .shop-tabs {
    grid-template-columns: 1fr;
  }

  .tabs-menu-shop {
    grid-column-gap: 1rem;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 8px;
    flex-flow: wrap;
    justify-content: center;
  }

  .tab-link-shop {
    text-align: center;
    white-space: nowrap;
    width: auto;
    padding: 5px 20px;
    font-size: 16px;
  }

  .tab-content-shop {
    grid-template-columns: 1fr 1fr;
  }

  .contact-wrap {
    width: auto;
    min-width: 0;
  }

  .about-hero-section {
    width: auto;
  }

  .section-hero-about {
    padding-bottom: 100px;
  }

  .grid-brand {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .h2 {
    font-size: 40px;
  }

  .section-our-process {
    background-color: var(--white);
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .paragraph-process {
    width: 95%;
    left: 10px;
  }

  .process-card-wrap {
    width: auto;
  }

  .process-card-wrap.offset {
    right: auto;
  }

  .product-text.product-text-shop {
    display: none;
  }

  .rethink-text-wrap {
    max-width: none;
  }

  .contact-welcome {
    font-size: 6vw;
  }

  .rethink-small-wrap {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
  }

  .navbar-annoucement {
    margin-bottom: 10px;
  }

  .flower-embed-shop-2 {
    overflow: hidden;
  }

  .to-top-wrap, .to-top-wrap.w--current {
    display: none;
  }

  .media-cover-about {
    width: auto;
    padding-top: 70%;
  }

  .thank-you-wrap {
    width: auto;
    min-width: 0;
  }

  .grid-privacy-policy {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .section-legal {
    padding-bottom: 80px;
  }

  .dropdown-toggle-faq {
    white-space: normal;
  }

  .margin-bottom-100px {
    margin-bottom: 50px;
  }

  .navbar-alt {
    padding-bottom: 10px;
  }

  .nav-background-tablet {
    height: 100%;
  }

  .logo-white {
    max-height: 55px;
  }

  .click-more {
    color: var(--crimson);
    text-align: right;
    margin-top: 20px;
    display: block;
  }

  .archive-card {
    overflow: scroll;
  }

  .archive-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .pagination--div {
    justify-content: center;
    width: 100%;
    bottom: -20px;
  }

  .archive-tabs {
    grid-template-columns: 1fr;
  }

  .tab-content-archive {
    grid-template-columns: 1fr 1fr;
  }

  .archive-wrap {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container.container-expand {
    padding-left: 18px;
    padding-right: 18px;
  }

  .navbar {
    padding-bottom: 5px;
  }

  .divider-wrap {
    font-size: 16px;
  }

  .grid-shop {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .grid-shop-inner-top {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .media-cover._2 {
    padding-top: 120%;
  }

  .grid-shop-inner-bottom {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .grid-process-inner {
    grid-row-gap: 2rem;
    padding-top: 0;
  }

  .process-card-front {
    padding: 15px;
  }

  .process-left-wrap {
    padding-left: 0;
  }

  .grid-rethink-bottom {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .section-hero-std {
    padding-top: 150px;
  }

  .tabs-menu-shop {
    grid-column-gap: 0rem;
  }

  .heading-large {
    font-size: 14vw;
  }

  .text-field {
    padding-left: 15px;
  }

  .form {
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .text-area {
    min-height: 200px;
    padding-left: 15px;
  }

  .about-hero-section {
    line-height: 1.7em;
  }

  .section-hero-about {
    padding-top: 150px;
  }

  .image-hero {
    width: 95%;
    display: block;
  }

  .h2 {
    font-size: 33px;
  }

  .section-our-process {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .paragraph-process {
    width: 90%;
    left: 20px;
  }

  .section-rethink {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .image-rethink-main {
    height: 90vw;
    bottom: 30%;
  }

  .menu-button {
    right: -10px;
  }

  .card-email {
    width: 100%;
  }

  .contact-welcome {
    font-size: 9vw;
  }

  .button-inner {
    width: 100%;
  }

  .rethink-small-wrap {
    padding: 5px;
  }

  .image-rethink-small {
    max-height: 50px;
  }

  .navbar-annoucement {
    margin-bottom: 5px;
  }

  .section-legal {
    padding-top: 150px;
  }

  .grid-faq {
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
  }

  .faq-left {
    z-index: 2;
    flex-flow: wrap;
    justify-content: center;
    position: static;
  }

  .grid-faq-inner {
    z-index: 1;
    grid-row-gap: 0rem;
    margin-top: -2rem;
    position: relative;
  }

  .faq-wrap {
    padding-top: 7rem;
  }

  .h3 {
    font-size: 25px;
    line-height: 1.3em;
  }

  .navbar-alt {
    padding-bottom: 5px;
  }

  .logo-footer {
    max-height: 100px;
  }

  .text-sub-popup {
    max-width: none;
    font-size: 18px;
  }

  .divider-wrap-test {
    font-size: 16px;
  }

  .h1 {
    font-size: 40px;
  }

  .header-legal {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .archive-card {
    width: 98%;
    padding: 50px 20px;
  }

  .marquee-item {
    width: 16em;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#w-node-d6564912-598c-3177-22de-99ea52bc19bd-6fb3dd95, #w-node-c7543e61-e4be-682c-0bfb-9beb30ae7061-6fb3dd95, #w-node-_527c9018-465b-b0dc-7eb3-e342f441d038-6fb3dd95, #w-node-_4f3d9658-8f2b-24ab-2eea-afeee11a283f-6fb3dd95, #w-node-_95fca86c-a00c-12ff-ed37-9a3018a1fc54-6fb3dd95, #w-node-_07713ac5-c2aa-1f4f-2ba8-b9f4cf2412cc-6fb3dd95, #w-node-_0f64ce40-8881-69bd-faa2-be24d0e682f9-6fb3dd95, #w-node-a2e0ff7a-0363-1875-e712-d86bf20821c7-6fb3dd95, #w-node-dee593b6-a11e-19b0-0b05-7fda64b0030d-6fb3dd95, #w-node-f37026c1-1a71-62d6-edc8-c59f8b87a9da-6fb3dd95 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3fa29233-98e2-68b2-bb95-ce40f76969dd-6fb3dd95 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
}

#w-node-c8f6f5d8-6ca8-2364-f7b0-a9f04bc3dc79-6fb3dd95, #w-node-_5a7527d1-33ec-768a-2a16-cf050bc8f630-6fb3dd95, #w-node-cf0800ba-ec69-1790-f64c-8b7d0a48deae-6fb3dd95, #w-node-_94d091ee-a0d6-efae-29d3-eee4bb3adf70-6fb3dd95, #w-node-_8fec8545-35e2-3905-d76e-c2badcece85b-6fb3dd95, #w-node-_60819f18-edee-1852-5703-41a4c7ee6b21-6fb3ddcf, #w-node-_60819f18-edee-1852-5703-41a4c7ee6b23-6fb3ddcf, #w-node-b08b43e2-ee6d-ec60-e55b-9f6680ca887f-6fb3ddcf, #w-node-b08b43e2-ee6d-ec60-e55b-9f6680ca887d-6fb3ddcf {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#field.w-node-_4f51bd94-4ad5-d6d6-c47a-8fac8eb3c0d9-6fb3dde6 {
  grid-area: 3 / 1 / 4 / 3;
}

#w-node-f83ba83f-3e1f-775a-46e2-be537d1340a8-6fb3dde6 {
  grid-area: 4 / 2 / 5 / 3;
  justify-self: end;
}

#w-node-e8b1ed5f-d19c-52fe-9af1-d0bbed0ef012-6fb3dde6 {
  grid-area: 4 / 2 / 5 / 3;
}

#w-node-_6409f27b-1c60-b6f8-9b65-6b0181f97575-6fb3ddfb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_2ea1215b-38a2-398e-3a17-c0d472dd0913-6fb3ddfb, #return.w-node-_71c86044-813c-67bb-1d5e-e203e9a9ef9c-6fb3ddfb, #care.w-node-_37a957fe-4a52-49d2-d715-7273b7c6af08-6fb3ddfb, #responsibility.w-node-_637729bb-84e3-516d-e246-a5811114761a-6fb3ddfb, #ourprocess.w-node-_8e21ac20-e70a-a0c7-a3a0-9a19d6a1168f-6fb3ddfb, #w-node-cbc80636-a56b-71fa-8536-5ecfacb059d1-6fb3ddfc, #w-node-_9514adb8-79bd-0ab2-9720-c605e03de138-6fb3ddfc, #w-node-_60d565bb-f7ca-7b78-89cf-edb399299841-6fb3ddfc, #w-node-_60d565bb-f7ca-7b78-89cf-edb399299844-6fb3ddfc, #w-node-_92fc3d7c-f9ca-5134-0e21-37d316b24d9f-6fb3ddfc, #w-node-_92fc3d7c-f9ca-5134-0e21-37d316b24da2-6fb3ddfc, #w-node-_890800be-fe0b-ec23-59dd-d598d27bd9ae-6fb3ddfc, #w-node-_890800be-fe0b-ec23-59dd-d598d27bd9b1-6fb3ddfc, #w-node-cbc80636-a56b-71fa-8536-5ecfacb059d1-6fb3de0f, #w-node-_9514adb8-79bd-0ab2-9720-c605e03de138-6fb3de0f, #w-node-_5a62c8e8-21e7-b45a-2cab-be75024e08fc-6fb3de0f, #w-node-_5a62c8e8-21e7-b45a-2cab-be75024e08ff-6fb3de0f, #w-node-cbc80636-a56b-71fa-8536-5ecfacb059d1-6fb3de20, #w-node-_9514adb8-79bd-0ab2-9720-c605e03de138-6fb3de20, #w-node-_43c9599c-8fe7-1940-1756-0d598080f076-6fb3de20, #w-node-_43c9599c-8fe7-1940-1756-0d598080f07d-6fb3de20, #w-node-e32d60dc-6b90-5d7e-5948-0bc9557624ea-6fb3de20, #w-node-e32d60dc-6b90-5d7e-5948-0bc9557624ed-6fb3de20, #w-node-e7a5b3f5-513e-9188-af32-4b86b596e676-6fb3de20, #w-node-e7a5b3f5-513e-9188-af32-4b86b596e679-6fb3de20 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_52961860-c41e-d641-d4a4-f7fe0c0d992e-6fb3de22 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-b55f75cf-80c7-684d-e97a-ea599bee8bee-6fb3de22 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-b55f75cf-80c7-684d-e97a-ea599bee8c91-6fb3de22 {
  grid-area: 2 / 3 / 4 / 5;
}

#w-node-_086e51ee-b9c1-44ff-25ad-1bcb6539c394-6fb3de22 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_086e51ee-b9c1-44ff-25ad-1bcb6539c437-6fb3de22 {
  grid-area: 2 / 3 / 4 / 5;
}

#w-node-_73096309-9418-0317-a0de-91d21a8f17ce-6fb3de22 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_73096309-9418-0317-a0de-91d21a8f1871-6fb3de22 {
  grid-area: 2 / 3 / 4 / 5;
}

#w-node-_3491d4cb-40ea-36f5-ddba-880f0ea387dc-6fb3de22 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_3491d4cb-40ea-36f5-ddba-880f0ea3887f-6fb3de22 {
  grid-area: 2 / 3 / 4 / 5;
}

#w-node-_24622cd3-ec77-939e-97f5-e10342d4bf8b-6fb3de22 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_24622cd3-ec77-939e-97f5-e10342d4c02e-6fb3de22 {
  grid-area: 2 / 3 / 4 / 5;
}

#w-node-adad083c-57ff-927f-92cf-e09a9e482a3a-6fb3de22 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-adad083c-57ff-927f-92cf-e09a9e482add-6fb3de22 {
  grid-area: 2 / 3 / 4 / 5;
}

#w-node-_22d7cf7d-58a3-277b-6852-d0125ef885ff-6fb3de23 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
}

#w-node-dac5dcf0-c37e-63ca-6830-36fe6e68abb8-6fb3de23, #w-node-dac5dcf0-c37e-63ca-6830-36fe6e68abc3-6fb3de23, #w-node-_6595da7c-c239-bf61-afac-5cb046d43970-6fb3de23, #w-node-_6595da7c-c239-bf61-afac-5cb046d4397b-6fb3de23, #w-node-_5944af69-a3d9-da84-13ec-c320981c49d7-6fb3de23, #w-node-_5944af69-a3d9-da84-13ec-c320981c49e2-6fb3de23, #w-node-dde0d5e3-69a4-020a-4319-7034ded4a6f7-6fb3de23, #w-node-dde0d5e3-69a4-020a-4319-7034ded4a702-6fb3de23, #w-node-_1d6d7f1e-2bc6-34f6-41d2-138ca7e2c2b5-6fb3de23, #w-node-_1d6d7f1e-2bc6-34f6-41d2-138ca7e2c2c0-6fb3de23, #w-node-_5504a0dd-79a1-f32f-b2e2-27f69df8d4d3-6fb3de23, #w-node-_5504a0dd-79a1-f32f-b2e2-27f69df8d4de-6fb3de23, #w-node-_636cf577-062b-70b2-e86d-3e9314d3c63b-6fb3de24 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_22d7cf7d-58a3-277b-6852-d0125ef885ff-cc8d1266 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
}

#w-node-dac5dcf0-c37e-63ca-6830-36fe6e68abc3-cc8d1266, #w-node-dac5dcf0-c37e-63ca-6830-36fe6e68abb8-cc8d1266 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-cf0800ba-ec69-1790-f64c-8b7d0a48deae-6fb3dd95 {
    justify-self: end;
  }

  #w-node-_60819f18-edee-1852-5703-41a4c7ee6b21-6fb3ddcf, #w-node-b08b43e2-ee6d-ec60-e55b-9f6680ca887d-6fb3ddcf {
    justify-self: center;
  }
}

@media screen and (max-width: 991px) {
  #w-node-b55f75cf-80c7-684d-e97a-ea599bee8bee-6fb3de22, #w-node-b55f75cf-80c7-684d-e97a-ea599bee8c0f-6fb3de22, #w-node-b55f75cf-80c7-684d-e97a-ea599bee8c70-6fb3de22, #w-node-b55f75cf-80c7-684d-e97a-ea599bee8c91-6fb3de22, #w-node-_086e51ee-b9c1-44ff-25ad-1bcb6539c394-6fb3de22, #w-node-_086e51ee-b9c1-44ff-25ad-1bcb6539c3b5-6fb3de22, #w-node-_086e51ee-b9c1-44ff-25ad-1bcb6539c416-6fb3de22, #w-node-_086e51ee-b9c1-44ff-25ad-1bcb6539c437-6fb3de22, #w-node-_73096309-9418-0317-a0de-91d21a8f17ce-6fb3de22, #w-node-_73096309-9418-0317-a0de-91d21a8f17ef-6fb3de22, #w-node-_73096309-9418-0317-a0de-91d21a8f1850-6fb3de22, #w-node-_73096309-9418-0317-a0de-91d21a8f1871-6fb3de22, #w-node-_3491d4cb-40ea-36f5-ddba-880f0ea387dc-6fb3de22, #w-node-_3491d4cb-40ea-36f5-ddba-880f0ea387fd-6fb3de22, #w-node-_3491d4cb-40ea-36f5-ddba-880f0ea3885e-6fb3de22, #w-node-_3491d4cb-40ea-36f5-ddba-880f0ea3887f-6fb3de22, #w-node-_24622cd3-ec77-939e-97f5-e10342d4bf8b-6fb3de22, #w-node-_24622cd3-ec77-939e-97f5-e10342d4bfac-6fb3de22, #w-node-_24622cd3-ec77-939e-97f5-e10342d4c00d-6fb3de22, #w-node-_24622cd3-ec77-939e-97f5-e10342d4c02e-6fb3de22, #w-node-adad083c-57ff-927f-92cf-e09a9e482a3a-6fb3de22, #w-node-adad083c-57ff-927f-92cf-e09a9e482a5b-6fb3de22, #w-node-adad083c-57ff-927f-92cf-e09a9e482abc-6fb3de22, #w-node-adad083c-57ff-927f-92cf-e09a9e482add-6fb3de22 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b08b43e2-ee6d-ec60-e55b-9f6680ca887d-6fb3ddcf {
    order: -9999;
  }

  #w-node-ab492fa1-e0f6-2e5b-9119-3adb12838fe8-6fb3de23, #w-node-_6595da7c-c239-bf61-afac-5cb046d43964-6fb3de23, #w-node-_5944af69-a3d9-da84-13ec-c320981c49cb-6fb3de23, #w-node-dde0d5e3-69a4-020a-4319-7034ded4a6eb-6fb3de23, #w-node-_1d6d7f1e-2bc6-34f6-41d2-138ca7e2c2a9-6fb3de23, #w-node-_5504a0dd-79a1-f32f-b2e2-27f69df8d4c7-6fb3de23, #w-node-_6762a8aa-6f8e-8c4b-0471-95bd586bff62-cc8d1266 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #field.w-node-_4f51bd94-4ad5-d6d6-c47a-8fac8eb3c0d9-6fb3dde6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f83ba83f-3e1f-775a-46e2-be537d1340a8-6fb3dde6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-e8b1ed5f-d19c-52fe-9af1-d0bbed0ef012-6fb3dde6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Fa';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai-Bold.ttf') format('truetype'), url('../fonts/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
